<div class="style">
    <body>
        <div class="container text-center">
            <div class="jumbotron">
                <%= image_tag ('logo.png') %>
                <h1> SyllaDev</h1>
                <h2> Développeur front-end</h2>
            <hr>
                <div class="row">
                    <div class="col-xs-4">
                        <h3><b>Competences</b></h3>
                        <ul>
                            <li>HTML/CSS</li>
                            <li>Ruby on Rails</li>
                            <li>Javascript</li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h3></h3>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h3><b>Formations</b></h3>
                        <ul>
                            <li>OpenClassRoom</li>
                            <li>Rails Heroes Course</li>
                            <li>Autodidacte</li>
                        </ul>
                    </div>
                    
                </div>
                <hr>
                <div class="row social">
                    <div class="col-xs-4">
                        <a href="https://www.facebook.com/Sylla-Dev-1130507720452314/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://www.instagram.com/syllawebdev/?hl=fr"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://www.linkedin.com/in/sylla-dev-52aa2b178/"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</div>